<%- include('./header/headeradmin.ejs')  %>  

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
     <div class="row mt-3 mb-3">
   
   <div class="col-8">
    <div class="card m-0 border border-success">
      <div class="card-body">
        <h5 class="card-title mb-3">اضافه کردن اهنگ</h5>
       <a href="/admin/addmusic"> <button type="button" class="btn btn-success w-25">+ اضافه کردن</button></a>
      </div>
    </div>

   </div>
   <div class="col-4">
    <div class="card m-0 border border-secondary">
      <div class="card-body">
        <h5 class="card-title mb-3"> بازدید از وب سایت</h5>
       <a href="/" target="_blank"> <button type="button" class="btn btn-secondary w-100">بازدید</button> </a>
      </div>
    </div>

   </div>
  </div>
     <h3 class="mt-3 mb-3 ml-2"> لیست اهنگ ها </h3>
      <div class="table-responsive mt-2">
        <table class="table table-sm border">
          <thead>
            <tr>
              <th class="text-center">  نام اهنگ</th>
              <th class="text-center">نام خواننده</th>
              <th class="text-center">تیتر</th>
              <th class="text-center">تاریخ انتشار</th>
              <th class="text-center">اهنگ </th>
              <th class="text-center">وضعیت انتشار</th>
              <th class="text-center">محبوب</th>
              <th class="text-center">ویرایش</th>
              <th class="text-center">حذف</th>
            </tr>
          </thead>
          <tbody>
            <% if(result){ %> 
            <% for(let i of result){ %> 
            <tr>
              <td class="text-center"><%- i.name %> </td>
              <td class="text-center"><%- i.id_singer %></td>
              <td class="text-center"><%- i.title %></td>
              <td class="text-center"><%- i.history %></td>        
              <td class="text-center"><audio class="embed-responsive-item m-auto" controls="" preload="none"> <source src="../music/<%- i.music %>   " type="audio/mp3"></audio></td>
              <td class="text-center"> <%if(i.condition == '1' ){%> <img src="../img/add (2).png" width="30" height="30" alt=""><% }else{%>  <img src="../img/asd.png" width="30" height="30" alt="">  <%}%> </td>
              <td class="text-center">  <%if(i.popular == '1' ){%> <img src="../img/add (2).png" width="30" height="30" alt=""><% }else{%>  <img src="../img/asd.png" width="30" height="30" alt="">  <%}%> </td>
              <td><a href="/admin/edtmusic<%- i.id %> "> <button type="button" class="btn btn-info w-100 pt-2 pb-2 mt-2">ویرایش</button></a></td>
              <td><a href="/admin/deletemusic<%- i.id %>/<%- i.music %>/<%- i.img %>   "> <button type="button" class="btn btn-danger w-100 pt-2 pb-2 mt-2">حذف</button></a></td>
            </tr>
            <tr>
          <% } %> 
          <% } %> 
          </tbody>
        </table>
      </div>
   
    </div>
    </main>
    
    
<%- include('./footer/footeradmin.ejs')  %> 